body {
    display:flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header,
.description,
.footer {
    background-color: #1f2937;
    
}

.header {
    padding: 20px 0 50px;
}

.description {
    height: 250px;
}

.logo {
    flex: auto;
    font-size: 24px;
    color: #f9faf8;
}

.quote {
    background-color: #e5e7eb;
}

li,
.description-text, 
.item,
.footer,
.card-description {
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}

.subtext {
    color:gray;
    text-align: center;
    width: 150px;
}

.description-title {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    margin-bottom: 10px;
}

.description-text {
    margin-bottom: 8px;
}

.gallery {
    width: 1120px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.illustration{
    height: 150px;
    width: 150px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}
.random-info .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 10px;
    
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote-author {
    font-size: 24px;
    color: #1f2937;
}

.card-title {
    font-size: 24px;
    color: #e5e7eb;
}

.sign-up .card{
    width: 1120px;
    height: 150px;
    border-radius: 8px;
    display: flex;
    background-color: #3882f6
}


button {
    background-color: #3882f6;
    border-radius: 12px;
    padding: 8px 16px;
    border: 1px solid #3882f6;
    color: #e5e7eb;
    
}

/*seccion de flexbox*/

.description,
.gallery,
.random-info,
.quote,
.sign-up,
.header {
    display: flex;
}
ul{
    display: flex;
    margin: 0;
    gap: 15px;
}


.container {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.description .container {
    width: 1120px;
    display: flex;
    align-items: center;
    
}

.random-info,
.quote {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
 
.quote-container {
    width: 900px;
}

.description,
.sign-up,
.header {
    justify-content: center;
    align-items: center;
}
.sign-up {
    padding: 50px 0;
}
.button-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    display: flex;
    flex: 2 0 auto;
    justify-content: center;
    align-items: center;
}

.button-container button {
    border: 1px solid white;
}

.quote-author{
    text-align: right;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

